{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="detailcontent">
    <div class="detailimage">
        <p>title</p>
        <img src="{% static 'images/reg.jpg' %}" alt="">
        <p>created on</p>
        
    </div>
    <div class="imgdetails">
        <div>
            <p>author</p>
            <p>content</p>
        </div class="authorContent">

        <div class="commentImagge">
            <img src="{% static 'images/reg.jpg' %}" alt="">
        </div>
    </div>
</div>


<p></p>
<h1 class="UserComments">User Comments</h1>

{% endblock content %}